*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(WhatsApp\ Image\ 2024-02-13\ at\ 1.17.35\ AM.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.continar{
    padding: 20px;
    margin: 20px;
    color:black;
    width: 440px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255,.0) ;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 12px 10px 6px 2px rgba(0, 0, 0, 0.5);
}
.continar h1{
    padding: 20px;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.continar h2{
    font-size: 55px;
    text-align: center;
    padding: 10px;
}
.continar .button{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.continar button{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    width: 170px;
    height: 65px;
    background-color:#994838cb;
}
.continar p{
    font-size: 40px;
    padding-left: 10px;
    padding-bottom:20px ;
}
.continar #save-btn:hover{
    transform:translate(0,5%) ;
    transition: 2s;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.8) ;
    filter: brightness(130%);
}
.continar #increment-btn:hover{
    filter: brightness(110%);
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.8) ;
}
.continar #decrement-btn:hover{
    filter: brightness(110%);
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.8) ;
}

@media screen and (max-width: 480px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(WhatsApp\ Image\ 2024-02-13\ at\ 8.07.24\ PM.jpeg);
        background-size:cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    .continar{
        padding: 15px;
        margin: 20px;
        color:black;
        color: #000000;
        color: #010101;
        color: rgba(0, 0, 0, 1);
        width: fit-content;
        height: 300px;
        background-color: transparent;
        border: 2px solid rgb(255, 255, 255,.0) ;
        border-radius: 20px;
        -webkit-backdrop-filter: blur(3px); 
        backdrop-filter: blur(3px);
        box-shadow: 12px 10px 6px 2px rgba(0, 0, 0, 0.5)
    }
    .continar h1{
        padding: 5px;
        margin: auto;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .continar h2{
        font-size: 55px;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 0px;
    }
    .continar .button{
        
        padding: 1px;
        margin: 5px;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        width: 300px;
        height: fit-content;
    }
    .continar button{
        font-size: 15px;
        font-weight: bold;
        padding: 9px;
        margin: 5px;
        border-radius: 10px;
        width: 130px;
        height: fit-content;
        background-color:#994838cb;
    }
    .continar p{
        font-size: 30px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom:20px ;
    }
    .continar #save-btn:hover{
        transform:translate(0,5%) ;
        transition: 2s;
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.8) ;
        filter: brightness(130%);
    }
    .continar #increment-btn:hover{
        filter: brightness(110%);
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.8) ;
    }
    .continar #decrement-btn:hover{
        filter: brightness(110%);
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.8) ;
    }
    
}